 <h1>Sistema de Cadastro de Usuários</h1>

<!-- <p *ngIf="!(blogPosts$ | async)"><em>Loading...</em></p> -->
<p>
  <a [routerLink]="['/criar']" class="btn btn-primary float-right mb-3">Adicionar Usuário</a>
</p>

<table class="table table-sm table-hover" *ngIf="(usuarios | async)?.length > 0">
  <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Email</th>
      <th>Data Nascimento</th>
      <th>Escolaridade</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuarios of usuarios | async">
      <td>{{ usuarios.id }}</td>
      <td>{{ usuarios.nome }} {{usuarios.sobrenome}}</td>
      <td>{{ usuarios.email}}</td>
      <td>{{ usuarios.dataNascimento | date: "dd/MM/yyyy"}}</td>
      <td>{{ usuarios.escolaridade}}</td>
      <td><a [routerLink]="['/editar/', usuarios.id]" class="btn btn-primary btn-sm float-right">Editar</a></td>
      <td><a [routerLink]="" (click)="excluirUsuarioPorId(usuarios.id)" class="btn btn-danger btn-sm float-right">Excluir</a></td>
    </tr>
  </tbody>
</table>
